@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');
html,body {
    font-family: 'Raleway', sans-serif;  
}
.thankyou-page ._header {
    background: #a0ec7a;
    padding: 10px 30px;
    text-align: center;
    background: #9bce58 url(https://codexcourier.com/images/main_page.jpg) center/cover no-repeat;
}
.thankyou-page ._header .logo {
    max-width: 200px;
    margin: 0 auto 50px;
}
.thankyou-page ._header .logo img {
    width: 100%;
}
.thankyou-page ._header h1 {
    font-size: 65px;
    font-weight: 800;
    color: rgb(1, 1, 11);
    margin: 70px;
}
.thankyou-page ._body {
    margin: -70px 0 30px;
}
.thankyou-page ._body ._box {
    margin: auto;
    max-width: 80%;
    padding: 50px;
    background: rgb(234, 241, 240);
    border-radius: 3px;
    box-shadow: 0 0 35px rgba(47, 11, 209, 0.918);
    -moz-box-shadow: 0 0 35px rgba(227, 212, 7, 0.769);
    -webkit-box-shadow: 0 0 35px rgba(244, 10, 10, 0.685);
}
.thankyou-page ._body ._box h2 {
    font-size: 20px;
    font-weight: 600;
    color: #c22c11;
}
.thankyou-page ._footer {
    text-align: center;
    padding: 50px 30px;
}

.thankyou-page ._footer .btn {
    background: #4ab74a;
    color: rgba(189, 61, 25, 0.566);
    border: 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    letter-spacing: 0.8px;
    padding: 20px 33px;
    text-transform: uppercase;
}

.thankyou-page ._button {
    background: #eb2405;
    color: rgb(255, 255, 255);
    border: 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    letter-spacing: 0.8px;
    padding: 20px 33px;
    text-transform: uppercase;
}
